.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  width: 50%;
}

.form button:hover,
.form button:active {
  background-color: gray;
}