
  section {
    margin:  auto;
    width: 70%;
    max-width: 80rem;
    background-color: white;
    padding: 2rem ;
    border-radius: 12px;
  }
  @media (max-width: 768px) {
    section{
      width:100%;
      margin-bottom: 12px;

    }
  }
